<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add / Edit User</title>
</head>
<body>

<h2 th:text="${profile.id == null ? 'Add New User' : 'Update User'}"></h2>

<form th:action="@{/save}" th:object="${profile}" method="post">

    <input type="hidden" th:field="*{id}" />

    <label>Name:</label><br>
    <input type="text" th:field="*{name}" required /><br><br>

    <label>Address:</label><br>
    <input type="text" th:field="*{address}" required /><br><br>

    <label>Mobile Number:</label><br>
    <input type="text" th:field="*{mobileNumber}" required /><br><br>

    <button type="submit" th:text="${profile.id == null ? 'Save User' : 'Update'}"></button>
</form>

<br>

<a th:href="@{/profiles}">
    <button>View Users</button>
</a>

</body>
</html>